@font-face {
    font-family: "Krub-Regular";
    src: url("../fonts/Krub-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Krub-Bold";
    src: url("../fonts/Krub-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

:root{
    --white: #fff;
    --dark-color: #212121;
    --primary-color:#ffc107;
    --secondary-color: #0097a7;
    --gray: #757575;
}

html{
    font-size: 62.5%; /* 1 rem = 10px */
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    font-family: "Krub-Regular", sans-serif;
}

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    font-family: "Krub-Bold", sans-serif;
    text-align: center;
}

.titulo span{
    font-size: 2rem;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.boton{
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 480px) {
    .boton{
        width: auto;
    }
}

.nav-bg{
    background-color: var(--secondary-color);
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--white);
    text-decoration: none;
    font-size: 2rem;
    font-family: "Krub-Bold";
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--primary-color);
    color: var(--dark-color);
}

.hero{
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
}

.contenido-hero{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2, .contenido-hero p{
    color: var(--white);
}

.ubicacion{
    display: flex;
    align-items: flex-end;
}